<main class="main-wrapper">
      <section class="_404_hero_section">
        <div class="page-width">
          <div class="_404_hero_wrap">
            <h1>Oops! This panther could not be found.</h1>
            <div class="spacer-regular"></div>
            <p class="text-size-medium">Did you know Black Panthers don’t exist? Just like this webpage. Please use the search bar below or return to our homepage.</p>
            <div class="spacer-medium"></div>
            <div class="button-group">
              <a href="#" class="button-primary w-button">Search</a>
              <a href="{{ routes.root_url }}" class="button-secondary w-button">Home</a>
            </div>
          </div>
        </div>
        <div class="_404_hero_vector_wrap"><img src="{{ 'panthor-gradient-icon.webp' | asset_url }}" loading="lazy" sizes="(max-width: 1728px) 100vw, 1728px" srcset="{{ 'panthor-gradient-icon-p-500.png' | asset_url }} 500w, {{ 'panthor-gradient-icon-p-800.png' | asset_url }} 800w, {{ 'panthor-gradient-icon-p-1080.png' | asset_url }} 1080w, {{ 'panthor-gradient-icon-p-1600.png' | asset_url }} 1600w, {{ 'panthor-gradient-icon.webp' | asset_url }} 1728w" alt="" class="_404_hero_vector"></div>
      </section>
      <section class="component_news_section">
        <div class="component_news_overflow">
          <div class="component_news_background"><img src="{{ 'panthor-watermark-faded-landscape.svg' | asset_url }}" loading="lazy" alt="" class="component_news_background_image"></div>
          <div class="padding-section-regular">
            <div class="page-width">
              <div class="max-width-large align-center">
                <div class="text-align-center">
                  <h2>Panthor Insights and News</h2>
                  <div class="spacer-small"></div>
                  <p>Stay informed about our latest offerings and insights.</p>
                  <div class="spacer-medium"></div>
                  <a href="{{ routes.root_url }}blogs/news" class="button-secondary w-button">View All Blogs</a>
                </div>
              </div>
            </div>
            <div class="spacer-xlarge"></div>
            <div class="page-width-full">
              <div class="swiper-container">
                <div id="news-slider" class="component_news_slider swiper">
                  <div class="component_news_wrap swiper-wrapper">
                    <div class="component_news_slide swiper-slide">
                      <div class="component_news_card"><img src="{{ 'blog-placeholder-image_1.webp' | asset_url }}" loading="lazy" width="445" height="510" alt="" srcset="{{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 500w, {{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 800w, {{ 'blog-placeholder-image_1.webp' | asset_url }} 1029w" sizes="(max-width: 479px) 100vw, 445px" class="component_news_image">
                        <div class="component_news_content_wrap">
                          <div class="component_news_content">
                            <h3 class="heading-style-h6">Innovations in Marine Fitness Equipment</h3>
                            <div class="spacer-xsmall"></div>
                            <p>Discover how our equipment enhances fitness on luxury yachts.</p>
                            <div class="spacer-regular"></div>
                            <div class="button-group">
                              <a href="{{ routes.root_url }}blogs/news" class="button-secondary is-icon w-inline-block">
                                <div>Read Article</div>
                                <div class="button-icon w-embed"><svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.70697 11.8378L7.41397 6.13083L1.70697 0.423828L0.292969 1.83783L4.58597 6.13083L0.292969 10.4238L1.70697 11.8378Z" fill="currentColor"></path>
                                  </svg></div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="component_news_slide swiper-slide">
                      <div class="component_news_card"><img src="{{ 'blog-placeholder-image_1.webp' | asset_url }}" loading="lazy" width="445" height="510" alt="" srcset="{{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 500w, {{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 800w, {{ 'blog-placeholder-image_1.webp' | asset_url }} 1029w" sizes="(max-width: 479px) 100vw, 445px" class="component_news_image">
                        <div class="component_news_content_wrap">
                          <div class="component_news_content">
                            <h3 class="heading-style-h6">Innovations in Marine Fitness Equipment</h3>
                            <div class="spacer-xsmall"></div>
                            <p>Discover how our equipment enhances fitness on luxury yachts.</p>
                            <div class="spacer-regular"></div>
                            <div class="button-group">
                              <a href="{{ routes.root_url }}blogs/news" class="button-secondary is-icon w-inline-block">
                                <div>Read Article</div>
                                <div class="button-icon w-embed"><svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.70697 11.8378L7.41397 6.13083L1.70697 0.423828L0.292969 1.83783L4.58597 6.13083L0.292969 10.4238L1.70697 11.8378Z" fill="currentColor"></path>
                                  </svg></div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="component_news_slide swiper-slide">
                      <div class="component_news_card"><img src="{{ 'blog-placeholder-image_1.webp' | asset_url }}" loading="lazy" width="445" height="510" alt="" srcset="{{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 500w, {{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 800w, {{ 'blog-placeholder-image_1.webp' | asset_url }} 1029w" sizes="(max-width: 479px) 100vw, 445px" class="component_news_image">
                        <div class="component_news_content_wrap">
                          <div class="component_news_content">
                            <h3 class="heading-style-h6">Innovations in Marine Fitness Equipment</h3>
                            <div class="spacer-xsmall"></div>
                            <p>Discover how our equipment enhances fitness on luxury yachts.</p>
                            <div class="spacer-regular"></div>
                            <div class="button-group">
                              <a href="{{ routes.root_url }}blogs/news" class="button-secondary is-icon w-inline-block">
                                <div>Read Article</div>
                                <div class="button-icon w-embed"><svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.70697 11.8378L7.41397 6.13083L1.70697 0.423828L0.292969 1.83783L4.58597 6.13083L0.292969 10.4238L1.70697 11.8378Z" fill="currentColor"></path>
                                  </svg></div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="component_news_slide swiper-slide">
                      <div class="component_news_card"><img src="{{ 'blog-placeholder-image_1.webp' | asset_url }}" loading="lazy" width="445" height="510" alt="" srcset="{{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 500w, {{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 800w, {{ 'blog-placeholder-image_1.webp' | asset_url }} 1029w" sizes="(max-width: 479px) 100vw, 445px" class="component_news_image">
                        <div class="component_news_content_wrap">
                          <div class="component_news_content">
                            <h3 class="heading-style-h6">Innovations in Marine Fitness Equipment</h3>
                            <div class="spacer-xsmall"></div>
                            <p>Discover how our equipment enhances fitness on luxury yachts.</p>
                            <div class="spacer-regular"></div>
                            <div class="button-group">
                              <a href="{{ routes.root_url }}blogs/news" class="button-secondary is-icon w-inline-block">
                                <div>Read Article</div>
                                <div class="button-icon w-embed"><svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.70697 11.8378L7.41397 6.13083L1.70697 0.423828L0.292969 1.83783L4.58597 6.13083L0.292969 10.4238L1.70697 11.8378Z" fill="currentColor"></path>
                                  </svg></div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="component_news_slide swiper-slide">
                      <div class="component_news_card"><img src="{{ 'blog-placeholder-image_1.webp' | asset_url }}" loading="lazy" width="445" height="510" alt="" srcset="{{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 500w, {{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 800w, {{ 'blog-placeholder-image_1.webp' | asset_url }} 1029w" sizes="(max-width: 479px) 100vw, 445px" class="component_news_image">
                        <div class="component_news_content_wrap">
                          <div class="component_news_content">
                            <h3 class="heading-style-h6">Innovations in Marine Fitness Equipment</h3>
                            <div class="spacer-xsmall"></div>
                            <p>Discover how our equipment enhances fitness on luxury yachts.</p>
                            <div class="spacer-regular"></div>
                            <div class="button-group">
                              <a href="{{ routes.root_url }}blogs/news" class="button-secondary is-icon w-inline-block">
                                <div>Read Article</div>
                                <div class="button-icon w-embed"><svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.70697 11.8378L7.41397 6.13083L1.70697 0.423828L0.292969 1.83783L4.58597 6.13083L0.292969 10.4238L1.70697 11.8378Z" fill="currentColor"></path>
                                  </svg></div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="component_news_slide swiper-slide">
                      <div class="component_news_card"><img src="{{ 'blog-placeholder-image_1.webp' | asset_url }}" loading="lazy" width="445" height="510" alt="" srcset="{{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 500w, {{ 'blog-placeholder-image_1blog-placeholder-image.webp' | asset_url }} 800w, {{ 'blog-placeholder-image_1.webp' | asset_url }} 1029w" sizes="(max-width: 479px) 100vw, 445px" class="component_news_image">
                        <div class="component_news_content_wrap">
                          <div class="component_news_content">
                            <h3 class="heading-style-h6">Innovations in Marine Fitness Equipment</h3>
                            <div class="spacer-xsmall"></div>
                            <p>Discover how our equipment enhances fitness on luxury yachts.</p>
                            <div class="spacer-regular"></div>
                            <div class="button-group">
                              <a href="{{ routes.root_url }}blogs/news" class="button-secondary is-icon w-inline-block">
                                <div>Read Article</div>
                                <div class="button-icon w-embed"><svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.70697 11.8378L7.41397 6.13083L1.70697 0.423828L0.292969 1.83783L4.58597 6.13083L0.292969 10.4238L1.70697 11.8378Z" fill="currentColor"></path>
                                  </svg></div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-embed w-script">
          <script>
  runOnDomReady(() => {
     initSlider("#news-slider", {
    			slidesPerView: "auto",
    			spaceBetween: 12
  		});
  });
</script>
        </div>
      </section>
      <section class="component_newsletter_section">
        <div class="padding-section-regular">
          <div class="page-width-narrower">
            <div class="component_newsletter_wrap">
              <div class="component_newsletter_wrap_item">
                <div class="component_newsletter_headline">
                  <h2>Never Miss an Update</h2>
                  <div class="spacer-small"></div>
                  <p>Stay updated on the latest Panthor product news and releases.</p>
                </div>
              </div>
              <div class="component_newsletter_wrap_item">
                <div class="component_newsletter_block w-form">
                  {%- form 'customer', id: 'wf-form-Newsletter-1', class: 'component_newsletter_form' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <label for="Email-Newsletter-1" class="form_label">Email</label>
                    <input class="form_input w-input" maxlength="256" name="contact[email]" data-name="Email Newsletter" placeholder="panthor@email.com" type="email" id="Email-Newsletter-1" required="">
                    <div class="spacer-medium"></div>
                    <label class="w-checkbox form_checkbox_field"><input type="checkbox" name="contact[accepts_marketing]" id="Newsletter-Terms-1" data-name="Newsletter Terms" required="" class="w-checkbox-input form_checkbox"><span class="text-size-tiny w-form-label" for="Newsletter-Terms-1">I confirm I wish to receive emails from Panthor. You may opt out of these emails at any time.</span></label>
                    <div class="spacer-medium"></div>
                    <div class="button-group"><input type="submit" data-wait="Please wait..." class="button-tertiary w-button" value="Submit"></div>
                    {% render 'wf-form-states', form: form %}
                  {%- endform -%}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="component_newsletter_vector_wrap"><img src="{{ 'panthor-watermark-faded-landscape.svg' | asset_url }}" loading="lazy" width="679" height="539" alt="" class="component_newsletter_vector"></div>
      </section>
    </main>

{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "paragraph",
      "content": "Imported from Webflow. Markup is preserved verbatim. To edit text/images, replace the static content in sections/page-404.liquid or split this into smaller sections."
    }
  ],
  "presets": [
    {
      "name": "404"
    }
  ]
}
{% endschema %}
