<main class="main-wrapper">
      <section data-w-id="7bb2e813-5c12-d39c-6cfe-e8503f912087" class="about_banner_section">
        <div class="page-width">
          <div class="about_banner_wrap">
            <div class="max-width-large">
              <h1>About Panthor</h1>
              <div class="spacer-regular"></div>
              <p class="text-size-medium">Panthor wasn’t built overnight. It took years of relentless iteration, collaboration, and perseverance to make our vision a reality. It’s what the fitness world has been waiting for.</p>
            </div>
          </div>
          <div class="about_banner_bottom">
            <div class="spacer-medium"></div>
            <div class="about_banner_core">
              <div class="about_banner_core_item">
                <div class="about_banner_card">
                  <h2>Our Mission</h2>
                  <div class="spacer-xxlarge"></div>
                  <p>In a market saturated with multi-gym monstrosities that limit growth and don’t make movement feel good, we’re on a mission to create a complete strength system that equips individuals to build strong bodies and minds, without compromise.</p>
                </div>
              </div>
              <div class="about_banner_core_item">
                <div class="about_banner_card">
                  <h2>Our Vision</h2>
                  <div class="spacer-xxlarge"></div>
                  <p>We envision a world where all athletes use a machine that honours what moving well should feel like. Whatever your fitness level, whatever your goals, Panthor will honour all bodies in motion. </p>
                </div>
              </div>
            </div>
            <div class="spacer-medium"></div>
          </div>
        </div>
        <div class="about_banner_background"><img src="{{ 'panthor-watermark-faded.svg' | asset_url }}" loading="lazy" width="878" height="697" alt="" class="about_banner_background_image"></div>
      </section>
      <section class="about_story_section">
        <div class="background-color-primary">
          <div class="padding-section-regular">
            <div class="page-width">
              <div class="about_story_headline">
                <div class="component_divider_line"></div>
                <div class="spacer-xxsmall"></div>
                <div class="spacer-medium"></div>
                <h2>Our Story</h2>
              </div>
              <div class="spacer-xxlarge"></div>
              <div class="about_story_list">
                <div data-w-id="afc07a67-ff89-dce0-c942-e5ae43f76ff1" class="about_story_item">
                  <div class="about_story_line_wrap">
                    <div class="about_story_line_circle"></div>
                    <div class="about_story_line"></div>
                  </div>
                  <div class="about_story_card">
                    <div class="about_story_card_grid">
                      <div class="about_story_card_grid_item">
                        <div class="about_story_card_content">
                          <div class="about_story_card_top">
                            <div class="component_divider_line"></div>
                            <div class="spacer-small"></div>
                            <h3 class="heading-style-h6">the spark</h3>
                          </div>
                          <div class="about_story_card_bottom">
                            <p class="text-size-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                          </div>
                        </div>
                      </div>
                      <div class="about_story_card_grid_item"><img src="{{ 'the-spark_1.webp' | asset_url }}" loading="lazy" width="624" height="500" alt="" srcset="{{ 'the-spark_1the-spark.webp' | asset_url }} 500w, {{ 'the-spark_1the-spark.webp' | asset_url }} 800w, {{ 'the-spark_1the-spark.webp' | asset_url }} 1080w, {{ 'the-spark_1.webp' | asset_url }} 1248w" sizes="(max-width: 767px) 100vw, 624px" class="about_story_card_image"></div>
                    </div>
                  </div>
                </div>
                <div data-w-id="afc07a67-ff89-dce0-c942-e5ae43f76ff1" class="about_story_item">
                  <div class="about_story_line_wrap">
                    <div class="about_story_line_circle"></div>
                    <div class="about_story_line"></div>
                  </div>
                  <div class="about_story_card">
                    <div class="about_story_card_grid">
                      <div class="about_story_card_grid_item">
                        <div class="about_story_card_content">
                          <div class="about_story_card_top">
                            <div class="component_divider_line"></div>
                            <div class="spacer-small"></div>
                            <h3 class="heading-style-h6">the spark</h3>
                          </div>
                          <div class="about_story_card_bottom">
                            <p class="text-size-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                          </div>
                        </div>
                      </div>
                      <div class="about_story_card_grid_item"><img src="{{ 'the-spark_1.webp' | asset_url }}" loading="lazy" width="624" height="500" alt="" srcset="{{ 'the-spark_1the-spark.webp' | asset_url }} 500w, {{ 'the-spark_1the-spark.webp' | asset_url }} 800w, {{ 'the-spark_1the-spark.webp' | asset_url }} 1080w, {{ 'the-spark_1.webp' | asset_url }} 1248w" sizes="(max-width: 767px) 100vw, 624px" class="about_story_card_image"></div>
                    </div>
                  </div>
                </div>
                <div data-w-id="afc07a67-ff89-dce0-c942-e5ae43f76ff1" class="about_story_item">
                  <div class="about_story_line_wrap">
                    <div class="about_story_line_circle"></div>
                    <div class="about_story_line"></div>
                  </div>
                  <div class="about_story_card">
                    <div class="about_story_card_grid">
                      <div class="about_story_card_grid_item">
                        <div class="about_story_card_content">
                          <div class="about_story_card_top">
                            <div class="component_divider_line"></div>
                            <div class="spacer-small"></div>
                            <h3 class="heading-style-h6">the spark</h3>
                          </div>
                          <div class="about_story_card_bottom">
                            <p class="text-size-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                          </div>
                        </div>
                      </div>
                      <div class="about_story_card_grid_item"><img src="{{ 'the-spark_1.webp' | asset_url }}" loading="lazy" width="624" height="500" alt="" srcset="{{ 'the-spark_1the-spark.webp' | asset_url }} 500w, {{ 'the-spark_1the-spark.webp' | asset_url }} 800w, {{ 'the-spark_1the-spark.webp' | asset_url }} 1080w, {{ 'the-spark_1.webp' | asset_url }} 1248w" sizes="(max-width: 767px) 100vw, 624px" class="about_story_card_image"></div>
                    </div>
                  </div>
                </div>
                <div data-w-id="afc07a67-ff89-dce0-c942-e5ae43f76ff1" class="about_story_item">
                  <div class="about_story_line_wrap">
                    <div class="about_story_line_circle"></div>
                    <div class="about_story_line"></div>
                  </div>
                  <div class="about_story_card">
                    <div class="about_story_card_grid">
                      <div class="about_story_card_grid_item">
                        <div class="about_story_card_content">
                          <div class="about_story_card_top">
                            <div class="component_divider_line"></div>
                            <div class="spacer-small"></div>
                            <h3 class="heading-style-h6">the spark</h3>
                          </div>
                          <div class="about_story_card_bottom">
                            <p class="text-size-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                          </div>
                        </div>
                      </div>
                      <div class="about_story_card_grid_item"><img src="{{ 'the-spark_1.webp' | asset_url }}" loading="lazy" width="624" height="500" alt="" srcset="{{ 'the-spark_1the-spark.webp' | asset_url }} 500w, {{ 'the-spark_1the-spark.webp' | asset_url }} 800w, {{ 'the-spark_1the-spark.webp' | asset_url }} 1080w, {{ 'the-spark_1.webp' | asset_url }} 1248w" sizes="(max-width: 767px) 100vw, 624px" class="about_story_card_image"></div>
                    </div>
                  </div>
                </div>
                <div data-w-id="afc07a67-ff89-dce0-c942-e5ae43f76ff1" class="about_story_item">
                  <div class="about_story_line_wrap">
                    <div class="about_story_line_circle"></div>
                    <div class="about_story_line"></div>
                  </div>
                  <div class="about_story_card">
                    <div class="about_story_card_grid">
                      <div class="about_story_card_grid_item">
                        <div class="about_story_card_content">
                          <div class="about_story_card_top">
                            <div class="component_divider_line"></div>
                            <div class="spacer-small"></div>
                            <h3 class="heading-style-h6">the spark</h3>
                          </div>
                          <div class="about_story_card_bottom">
                            <p class="text-size-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                          </div>
                        </div>
                      </div>
                      <div class="about_story_card_grid_item"><img src="{{ 'the-spark_1.webp' | asset_url }}" loading="lazy" width="624" height="500" alt="" srcset="{{ 'the-spark_1the-spark.webp' | asset_url }} 500w, {{ 'the-spark_1the-spark.webp' | asset_url }} 800w, {{ 'the-spark_1the-spark.webp' | asset_url }} 1080w, {{ 'the-spark_1.webp' | asset_url }} 1248w" sizes="(max-width: 767px) 100vw, 624px" class="about_story_card_image"></div>
                    </div>
                  </div>
                </div>
                <div data-w-id="afc07a67-ff89-dce0-c942-e5ae43f76ff1" class="about_story_item">
                  <div class="about_story_line_wrap">
                    <div class="about_story_line_circle"></div>
                    <div class="about_story_line"></div>
                  </div>
                  <div class="about_story_card">
                    <div class="about_story_card_grid">
                      <div class="about_story_card_grid_item">
                        <div class="about_story_card_content">
                          <div class="about_story_card_top">
                            <div class="component_divider_line"></div>
                            <div class="spacer-small"></div>
                            <h3 class="heading-style-h6">the spark</h3>
                          </div>
                          <div class="about_story_card_bottom">
                            <p class="text-size-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                          </div>
                        </div>
                      </div>
                      <div class="about_story_card_grid_item"><img src="{{ 'the-spark_1.webp' | asset_url }}" loading="lazy" width="624" height="500" alt="" srcset="{{ 'the-spark_1the-spark.webp' | asset_url }} 500w, {{ 'the-spark_1the-spark.webp' | asset_url }} 800w, {{ 'the-spark_1the-spark.webp' | asset_url }} 1080w, {{ 'the-spark_1.webp' | asset_url }} 1248w" sizes="(max-width: 767px) 100vw, 624px" class="about_story_card_image"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="about_journey_section">
        <div class="background-color-secondary">
          <div class="padding-section-regular">
            <div class="page-width">
              <div class="about_journey_headline">
                <div class="component_divider_line"></div>
                <div class="spacer-regular"></div>
                <h2>Product <br>Development</h2>
              </div>
              <div class="spacer-large"></div>
              <div class="swiper-container">
                <div id="journey-slider" class="about_journey_swiper swiper">
                  <div class="about_journey_wrap swiper-wrapper">
                    <div class="about_journey_slide swiper-slide">
                      <div class="about_journey_card">
                        <div class="about_journey_card_top"><img src="{{ 'product-development-1_1.webp' | asset_url }}" loading="lazy" width="458" height="349" alt="" sizes="(max-width: 479px) 100vw, 458px" srcset="{{ 'product-development-1_1product-development-1.webp' | asset_url }} 500w, {{ 'product-development-1_1product-development-1.webp' | asset_url }} 800w, {{ 'product-development-1_1.webp' | asset_url }} 916w" class="about_journey_card_image">
                          <div class="spacer-medium"></div>
                          <p>Lorem ipsum dolor sit amet consectetur. Mattis faucibus at facilisis elit tempus tempor condimentum tincidunt gravida. Scelerisque et dictumst fringilla.</p>
                        </div>
                        <div class="about_journey_card_bottom">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div><img src="{{ 'panthor-gradient-bg.webp' | asset_url }}" loading="lazy" width="42" height="28" alt="" class="about_journey_card_icon">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="about_journey_slide swiper-slide">
                      <div class="about_journey_card">
                        <div class="about_journey_card_top"><img src="{{ 'product-development-2_1.webp' | asset_url }}" loading="lazy" width="458" height="349" alt="" sizes="(max-width: 479px) 100vw, 458px" srcset="{{ 'product-development-2_1product-development-2.webp' | asset_url }} 500w, {{ 'product-development-2_1product-development-2.webp' | asset_url }} 800w, {{ 'product-development-2_1.webp' | asset_url }} 916w" class="about_journey_card_image">
                          <div class="spacer-medium"></div>
                          <p>Lorem ipsum dolor sit amet consectetur. Mattis faucibus at facilisis elit tempus tempor condimentum tincidunt gravida. Scelerisque et dictumst fringilla.</p>
                        </div>
                        <div class="about_journey_card_bottom">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div><img src="{{ 'panthor-gradient-bg.webp' | asset_url }}" loading="lazy" width="42" height="28" alt="" class="about_journey_card_icon">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="about_journey_slide swiper-slide">
                      <div class="about_journey_card">
                        <div class="about_journey_card_top"><img src="{{ 'product-development-3_1.webp' | asset_url }}" loading="lazy" width="458" height="349" alt="" sizes="(max-width: 479px) 100vw, 458px" srcset="{{ 'product-development-3_1product-development-3.webp' | asset_url }} 500w, {{ 'product-development-3_1product-development-3.webp' | asset_url }} 800w, {{ 'product-development-3_1.webp' | asset_url }} 864w" class="about_journey_card_image">
                          <div class="spacer-medium"></div>
                          <p>Lorem ipsum dolor sit amet consectetur. Mattis faucibus at facilisis elit tempus tempor condimentum tincidunt gravida. Scelerisque et dictumst fringilla.</p>
                        </div>
                        <div class="about_journey_card_bottom">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div><img src="{{ 'panthor-gradient-bg.webp' | asset_url }}" loading="lazy" width="42" height="28" alt="" class="about_journey_card_icon">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="about_journey_slide swiper-slide">
                      <div class="about_journey_card">
                        <div class="about_journey_card_top"><img src="{{ 'product-development-1_1.webp' | asset_url }}" loading="lazy" width="458" height="349" alt="" sizes="(max-width: 479px) 100vw, 458px" srcset="{{ 'product-development-1_1product-development-1.webp' | asset_url }} 500w, {{ 'product-development-1_1product-development-1.webp' | asset_url }} 800w, {{ 'product-development-1_1.webp' | asset_url }} 916w" class="about_journey_card_image">
                          <div class="spacer-medium"></div>
                          <p>Lorem ipsum dolor sit amet consectetur. Mattis faucibus at facilisis elit tempus tempor condimentum tincidunt gravida. Scelerisque et dictumst fringilla.</p>
                        </div>
                        <div class="about_journey_card_bottom">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div><img src="{{ 'panthor-gradient-bg.webp' | asset_url }}" loading="lazy" width="42" height="28" alt="" class="about_journey_card_icon">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="about_journey_slide swiper-slide">
                      <div class="about_journey_card">
                        <div class="about_journey_card_top"><img src="{{ 'product-development-2_1.webp' | asset_url }}" loading="lazy" width="458" height="349" alt="" sizes="(max-width: 479px) 100vw, 458px" srcset="{{ 'product-development-2_1product-development-2.webp' | asset_url }} 500w, {{ 'product-development-2_1product-development-2.webp' | asset_url }} 800w, {{ 'product-development-2_1.webp' | asset_url }} 916w" class="about_journey_card_image">
                          <div class="spacer-medium"></div>
                          <p>Lorem ipsum dolor sit amet consectetur. Mattis faucibus at facilisis elit tempus tempor condimentum tincidunt gravida. Scelerisque et dictumst fringilla.</p>
                        </div>
                        <div class="about_journey_card_bottom">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div><img src="{{ 'panthor-gradient-bg.webp' | asset_url }}" loading="lazy" width="42" height="28" alt="" class="about_journey_card_icon">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="about_journey_slide swiper-slide">
                      <div class="about_journey_card">
                        <div class="about_journey_card_top"><img src="{{ 'product-development-3_1.webp' | asset_url }}" loading="lazy" width="458" height="349" alt="" sizes="(max-width: 479px) 100vw, 458px" srcset="{{ 'product-development-3_1product-development-3.webp' | asset_url }} 500w, {{ 'product-development-3_1product-development-3.webp' | asset_url }} 800w, {{ 'product-development-3_1.webp' | asset_url }} 864w" class="about_journey_card_image">
                          <div class="spacer-medium"></div>
                          <p>Lorem ipsum dolor sit amet consectetur. Mattis faucibus at facilisis elit tempus tempor condimentum tincidunt gravida. Scelerisque et dictumst fringilla.</p>
                        </div>
                        <div class="about_journey_card_bottom">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div><img src="{{ 'panthor-gradient-bg.webp' | asset_url }}" loading="lazy" width="42" height="28" alt="" class="about_journey_card_icon">
                          <div class="about_journey_card_bottom_item">
                            <div class="component_divider_line"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-embed w-script">
          <script>
  runOnDomReady(() => {
     initSlider("#journey-slider", {
    			slidesPerView: "auto",
    			spaceBetween: 0,
          on: {
  					reachEnd: function () {
    				this.snapGrid = [...this.slidesGrid];
  					}
					}
  		});
  });
</script>
        </div>
      </section>
      <section data-w-id="bda161e8-101d-6459-d294-dbfccd00b1a9" class="component_blurb_section">
        <div class="background-color-primary">
          <div class="padding-section-regular">
            <div class="page-width">
              <div class="component_blurb_headline">
                <div class="component_divider_line"></div>
                <div class="spacer-medium"></div>
                <h2>Panthor Values</h2>
                <div class="spacer-small"></div>
                <div class="component_blurb_description">
                  <p>At Panthor, we’re driven by these core values:</p>
                </div>
              </div>
              <div class="spacer-xlarge"></div>
              <div class="component_blurb_list">
                <div class="component_blurb_item">
                  <div class="component_blurb_card"><img src="{{ 'full-body_1.webp' | asset_url }}" loading="lazy" alt="" sizes="(max-width: 886px) 100vw, 886px" srcset="{{ 'full-body_1full-body.webp' | asset_url }} 500w, {{ 'full-body_1full-body.webp' | asset_url }} 800w, {{ 'full-body_1.webp' | asset_url }} 886w" class="component_blurb_image">
                    <div class="spacer-regular"></div>
                    <div class="component_divider_line"></div>
                    <div class="spacer-xsmall"></div>
                    <h3 class="heading-style-h5">Integrity</h3>
                    <div class="spacer-xsmall"></div>
                    <div class="component_blurb_description w-richtext">
                      <p>Panthor was born out of a stubbornness to do better, and we hold ourselves to this daily. We don’t cut corners. We don’t stop at good enough. We operate with integrity, pushing ourselves to meet the highest standards, every time.</p>
                    </div>
                  </div>
                </div>
                <div class="component_blurb_item is-2">
                  <div class="component_blurb_card"><img src="{{ 'lower-body_1.webp' | asset_url }}" loading="lazy" alt="" sizes="(max-width: 886px) 100vw, 886px" srcset="{{ 'lower-body_1lower-body.webp' | asset_url }} 500w, {{ 'lower-body_1lower-body.webp' | asset_url }} 800w, {{ 'lower-body_1.webp' | asset_url }} 886w" class="component_blurb_image">
                    <div class="spacer-regular"></div>
                    <div class="component_divider_line"></div>
                    <div class="spacer-xsmall"></div>
                    <h3 class="heading-style-h5">Fortitude &amp; Resilience</h3>
                    <div class="spacer-xsmall"></div>
                    <div class="component_blurb_description w-richtext">
                      <p>Panthor is a machine born of obsession. It was burning in our soul from day one. We carry that drive throughout everything we do, constantly moving forward with fortitude and resilience, adapting, enduring, and always working to build something stronger.</p>
                    </div>
                  </div>
                </div>
                <div class="component_blurb_item is-3">
                  <div class="component_blurb_card"><img src="{{ 'upper-body_1.webp' | asset_url }}" loading="lazy" alt="" sizes="(max-width: 886px) 100vw, 886px" srcset="{{ 'upper-body_1upper-body.webp' | asset_url }} 500w, {{ 'upper-body_1upper-body.webp' | asset_url }} 800w, {{ 'upper-body_1.webp' | asset_url }} 886w" class="component_blurb_image">
                    <div class="spacer-regular"></div>
                    <div class="component_divider_line"></div>
                    <div class="spacer-xsmall"></div>
                    <h3 class="heading-style-h5">Intelligence</h3>
                    <div class="spacer-xsmall"></div>
                    <div class="component_blurb_description w-richtext">
                      <p>We are committed to making a machine that doesn’t just look good, but produces amazing results. Panthor is built on insight and purpose. We commit to deep learning so that our design builds better bodies and sharper minds.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="about_founder_section">
        <div class="background-color-primary">
          <div class="padding-section-medium">
            <div class="page-width">
              <div class="about_founder_list">
                <div id="w-node-fa3299e6-930d-8eae-2174-5088102562e6-70732f29" class="about_founder_list_item">
                  <div class="about_founder_content">
                    <div class="component_divider_line"></div>
                    <div class="spacer-small"></div>
                    <h3 class="heading-style-h6">Our Founder</h3>
                    <div class="spacer-regular"></div>
                    <h2>Our Founder:  Laura Louise Gilbert</h2>
                    <div class="spacer-regular"></div>
                    <div style="width:100%;height:19.375rem" class="about_founder_description_wrap">
                      <p class="about_founder_description">After co-founding a successful global sales agency, I stepped back in 2013 to reassess my path, ultimately retraining as a personal trainer, where my natural ability to coach and inspire others quickly stood out. Immersed in biomechanics, physiology, and strength training, I identified a clear gap in the market, which became the spark behind the vision for Panthor.<br><br>I’ve always been drawn to solutions, when I see a problem, I’m like a dog with a bone until I figure out how to fix it. With Panthor, that instinct was amplified. I could see how transformative a complete, intelligently designed strength system could be for people.<br><br>Driven by a deep belief in high standards, resilience... and persistence, I poured everything I had into... engineering Panthor to be a best-in-class, high-performance system. I often describe the journey as my “Sisyphus Stone”, pushing the boulder uphill only to start again, over and over. Anyone who&#x27;s built a product from scratch will understand the feeling, being so consumed by the vision that you&#x27;d crawl through fire to see it come to life.Panthor has taught me more than I could’ve imagined about design, engineering, branding, and business, but most importantly, about myself. It gave me purpose again. Knowing that others can experience that same sense of strength and direction through Panthor gives me a profound sense of achievement and fulfilment.</p>
                    </div>
                    <div class="spacer-regular"></div>
                    <div class="button-group">
                      <div data-w-id="11f84256-1840-6171-fac7-b0eb9b7dc521" class="about_founder_expander">
                        <p style="display:block" class="about_founder_more">read more</p>
                        <p style="display:none" class="about_founder_less">read Less</p>
                        <div class="about_founder_expander_icon w-embed"><svg width="12" height="8" viewbox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.293 0.615234L5.99997 4.90823L1.70697 0.615234L0.292969 2.02923L5.99997 7.73623L11.707 2.02923L10.293 0.615234Z" fill="currentColor"></path>
                          </svg></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="about_founder_list_item">
                  <div class="about_founder_image_wrap"><img src="{{ 'laura-louise-gilbert_1.webp' | asset_url }}" loading="lazy" width="689" height="554" alt="" srcset="{{ 'laura-louise-gilbert_1laura-louise-gilbert.webp' | asset_url }} 500w, {{ 'laura-louise-gilbert_1laura-louise-gilbert.webp' | asset_url }} 800w, {{ 'laura-louise-gilbert_1laura-louise-gilbert.webp' | asset_url }} 1080w, {{ 'laura-louise-gilbert_1.webp' | asset_url }} 1380w" sizes="(max-width: 767px) 100vw, 689px" class="about_founder_image"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="component_marquee_section">
        <div class="background-color-alternate">
          <div class="component_marquee_container">
            <div class="spacer-medium"></div>
            <div class="component_marquee_wrap">
              <div class="component_marquee">
                <div class="component_marquee_clone">
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">Space Efficient</p>
                  </div>
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">All exercises in one machine</p>
                  </div>
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">Variable Resistance</p>
                  </div>
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">Space Efficient</p>
                  </div>
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">All exercises in one machine</p>
                  </div>
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">Variable Resistance</p>
                  </div>
                </div>
                <div class="component_marquee_clone">
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">Space Efficient</p>
                  </div>
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">All exercises in one machine</p>
                  </div>
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">Variable Resistance</p>
                  </div>
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">Space Efficient</p>
                  </div>
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">All exercises in one machine</p>
                  </div>
                  <div class="component_marquee_item"><img src="{{ 'phantor-icon.svg' | asset_url }}" loading="lazy" width="59" height="46" alt="" class="component_marquee_logo">
                    <p class="heading-style-h6">Variable Resistance</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="spacer-medium"></div>
          </div>
        </div>
      </section>
      <section data-wf--explore--variant="no-gradient" class="component_explore_section w-variant-29277537-4389-d09c-310f-7977f47584f9">
        <div class="padding-section-xlarge">
          <div class="page-width-narrower">
            <div class="max-width-large">
              <div class="component_explore_headline">
                <h2>Explore Panthor Configurations</h2>
                <div class="spacer-regular"></div>
                <p>Panthor: the sophisticated, uncompromising strength system engineered for athletes who demand flexibility, style, and unrivalled ergonomics in their pursuit of mastery and victory.</p>
              </div>
            </div>
            <div class="spacer-large"></div>
            <div class="component_explore_list">
              <div data-wf--explore-card---darker--variant="base" class="component_explore_item">
                <div class="explore_card_wrap"><img src="{{ 'bolt-down-standing_1.webp' | asset_url }}" loading="lazy" width="454" height="300" alt="" sizes="(max-width: 479px) 100vw, 454px" srcset="{{ 'bolt-down-standing_1bolt-down-standing.webp' | asset_url }} 500w, {{ 'bolt-down-standing_1bolt-down-standing.webp' | asset_url }} 800w, {{ 'bolt-down-standing_1.webp' | asset_url }} 906w" class="component_explore_image">
                  <div class="component_explore_card background-color-dark"><img src="{{ 'panthor-gradient-bg.webp' | asset_url }}" loading="lazy" width="51" height="34" alt="" class="component_explore_icon">
                    <div class="spacer-regular"></div>
                    <h3 class="explore_card_heading text-style-normal">Bolt Down</h3>
                    <div class="spacer-small"></div>
                    <p>Our most compact setup, measuring just 1.8m x 0.3m with only 1m of operational space required at the front. Ideal for maximum floor space efficiency.</p>
                  </div>
                </div>
              </div>
              <div data-wf--explore-card---darker--variant="base" class="component_explore_item">
                <div class="explore_card_wrap"><img src="{{ 'freestanding-placeholder_1.webp' | asset_url }}" loading="lazy" width="454" height="300" alt="" sizes="(max-width: 479px) 100vw, 454px" srcset="{{ 'freestanding-placeholder_1freestanding-placeholder.webp' | asset_url }} 500w, {{ 'freestanding-placeholder_1freestanding-placeholder.webp' | asset_url }} 800w, {{ 'freestanding-placeholder_1.webp' | asset_url }} 908w" class="component_explore_image">
                  <div class="component_explore_card background-color-dark"><img src="{{ 'panthor-gradient-bg.webp' | asset_url }}" loading="lazy" width="51" height="34" alt="" class="component_explore_icon">
                    <div class="spacer-regular"></div>
                    <h3 class="explore_card_heading text-style-normal">Freestanding</h3>
                    <div class="spacer-small"></div>
                    <p>A retrofittable platform measuring 1.8m x 1m, designed with tapered edges for accessibility and a sleek aesthetic. Compatible with the Panthor bespoke bench, but also fully functional as a standalone unit for use with your own equipment, or none at all.</p>
                  </div>
                </div>
              </div>
              <div data-wf--explore-card---darker--variant="base" class="component_explore_item">
                <div class="explore_card_wrap"><img src="{{ 'bench-placeholder_1.webp' | asset_url }}" loading="lazy" width="454" height="300" alt="" sizes="(max-width: 479px) 100vw, 454px" srcset="{{ 'bench-placeholder_1bench-placeholder.webp' | asset_url }} 500w, {{ 'bench-placeholder_1bench-placeholder.webp' | asset_url }} 800w, {{ 'bench-placeholder_1.webp' | asset_url }} 906w" class="component_explore_image">
                  <div class="component_explore_card background-color-dark"><img src="{{ 'panthor-gradient-bg.webp' | asset_url }}" loading="lazy" width="51" height="34" alt="" class="component_explore_icon">
                    <div class="spacer-regular"></div>
                    <h3 class="explore_card_heading text-style-normal">Bench</h3>
                    <div class="spacer-small"></div>
                    <p>Custom-built to pair with the Panthor system. Removable and stowable, with three adjustable pads for versatile support across a wide range of exercises: seated leg curls, 45° leg press, preacher curls, lying hamstring curl, supported kickbacks, back extensions, incline/decline bench press, sit-ups, and more.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="spacer-large"></div>
            <div class="button-group is-center">
              <a href="{{ routes.collections_url }}/all" class="button-primary w-button">Customise your machine</a>
            </div>
          </div>
        </div>
        <div class="component_explore_vector_wrap w-variant-29277537-4389-d09c-310f-7977f47584f9"><img src="{{ 'panthor-watermark-faded.svg' | asset_url }}" loading="lazy" width="995" height="759" alt="" class="component_explore_vector"></div>
      </section>
      <section class="component_newsletter_section">
        <div class="padding-section-regular">
          <div class="page-width-narrower">
            <div class="component_newsletter_wrap">
              <div class="component_newsletter_wrap_item">
                <div class="component_newsletter_headline">
                  <h2>Never Miss an Update</h2>
                  <div class="spacer-small"></div>
                  <p>Stay updated on the latest Panthor product news and releases.</p>
                </div>
              </div>
              <div class="component_newsletter_wrap_item">
                <div class="component_newsletter_block w-form">
                  {%- form 'customer', id: 'wf-form-Newsletter-2', class: 'component_newsletter_form' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <label for="Email-Newsletter-2" class="form_label">Email</label>
                    <input class="form_input w-input" maxlength="256" name="contact[email]" data-name="Email Newsletter" placeholder="panthor@email.com" type="email" id="Email-Newsletter-2" required="">
                    <div class="spacer-medium"></div>
                    <label class="w-checkbox form_checkbox_field"><input type="checkbox" name="contact[accepts_marketing]" id="Newsletter-Terms-2" data-name="Newsletter Terms" required="" class="w-checkbox-input form_checkbox"><span class="text-size-tiny w-form-label" for="Newsletter-Terms-2">I confirm I wish to receive emails from Panthor. You may opt out of these emails at any time.</span></label>
                    <div class="spacer-medium"></div>
                    <div class="button-group"><input type="submit" data-wait="Please wait..." class="button-tertiary w-button" value="Submit"></div>
                    {% render 'wf-form-states', form: form %}
                  {%- endform -%}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="component_newsletter_vector_wrap"><img src="{{ 'panthor-watermark-faded-landscape.svg' | asset_url }}" loading="lazy" width="679" height="539" alt="" class="component_newsletter_vector"></div>
      </section>
    </main>

{% schema %}
{
  "name": "About",
  "settings": [
    {
      "type": "paragraph",
      "content": "Imported from Webflow. Markup is preserved verbatim. To edit text/images, replace the static content in sections/page-about.liquid or split this into smaller sections."
    }
  ],
  "presets": [
    {
      "name": "About"
    }
  ]
}
{% endschema %}
